/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0c1445; /* Dark blue background */
    color: #ffffff;
}

/* Header */
header {
    background-color: #091133; /* Darker blue */
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #1f2946;
    flex-direction: column;
}

header .logo img {
    width: 100px; /* Reduced size */
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s;
}

nav ul li a:hover {
    color: #66fcf1;
    text-shadow: 0 0 10px #66fcf1;
}

/* Image Styling */
.image-container {
    text-align: center;
    margin: 20px 0;
}

.image-container img {
    width: 400px;
    border-radius: 50%; /* Circular edges */
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.image-container img:hover {
    transform: scale(1.05);
}

/* Footer */
footer {
    background-color: #091133;
    padding: 20px;
    text-align: center;
    color: #c5c6c7;
}

footer h1 {
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 10px;
}

footer p {
    font-size: 18px;
    line-height: 1.5;
    color: #ffffff;
    margin: 10px 0;
}

footer a {
    text-decoration: none;
    color: #ffffff;
    background-color: #0c1445;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 50px;
    display: inline-block;
    font-size: 18px;
    transition: all 0.3s ease;
}

footer a:hover {
    background-color: #66fcf1;
    color: #091133;
    transform: scale(1.1);
    box-shadow: 0 0 15px #66fcf1;
}

/* Media Queries */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin-bottom: 10px;
    }

    .image-container img {
        width: 90%;
    }
}
